/* ----------------------------- Product Detail ----------------------------- */
.product-detail {
  padding-top: 60px;
  .container {
    padding: 0 48px;
    .row {
      justify-content: space-between;
      .product-images {
        width: 68%;
        padding: 24px 32px 24px 0;
        .mySwiper2 {
          margin-bottom: 20px;
          &:hover {
            .swiper-button-next,
            .swiper-button-prev {
              &::after {
                opacity: 1;
              }
            }
            .swiper-pagination {
              .swiper-pagination-bullet {
                opacity: 1;
              }
            }
          }
          .swiper-wrapper {
            .swiper-slide {
              height: 95vh;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .swiper-button-next,
          .swiper-button-prev {
            &::after {
              font-size: 18px;
              padding: 10px 14px;
              color: #fff;
              border-radius: 100%;
              background-color: rgba(0, 0, 0, 0.3);
              transition: 0.33s ease;
              opacity: 0;
            }
          }
          .swiper-pagination {
            margin-bottom: 20px;
            .swiper-pagination-bullet {
              background-color: #e2e3e3;
              margin: 0 5px;
              transition: 0.3s ease;
              opacity: 0;
            }
            .swiper-pagination-bullet-active {
              background-color: #5c5e62;
            }
          }
        }
        .mySwiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 100%;
              height: 25vh;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .product-info {
        width: 32%;
        padding-top: 24px;
        padding-left: 16px;
        .product-title {
          font-size: 32px;
          line-height: 40px;
        }
        .primary-info {
          max-width: 320px;
          .price {
            display: inline-block;
            font-weight: 500;
            margin: 2px 0 32px 0;
            font-size: 20px;
            letter-spacing: 1px;
          }
          .login-info {
            font-size: 15px;
            font-weight: 500;
            color: #606060;
            a {
              color: #3e6ae1;
            }
          }
          .quantify-title {
            margin-top: 24px;
            font-size: 14px;
          }
          .quantify {
            margin-top: 8px;
            width: 100%;
            display: flex;
            align-items: center;
            .btn-quantify {
              background-color: transparent;
              border: none;
              color: #000;
              font-size: 20px;
              font-weight: 500;
              cursor: pointer;
            }
            .form-input {
              margin: 0 15px;
              padding: 0 12px;
              width: 80px;
              background: #f4f4f4;
              border-radius: 4px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              input {
                width: 100%;
                font-size: 100%;
                background-color: transparent;
                border: none;
                border-radius: 1px;
                color: #000;
                text-align: center;
                outline: none;
                &[type="number"]::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }
              }
            }
          }
          .error {
            font-size: 14px;
            padding: 5px 22px;
            color: #c13232;
            visibility: hidden;
            opacity: 0;
            transition: 0.4s ease;
            &.isShown {
              opacity: 1;
              visibility: visible;
            }
          }
          .btn {
            @include btn(
              289px,
              #fff,
              #3e6ae1,
              10px 24px,
              18px 0 0,
              #3457b1,
              #fff,
              #3e6ae1,
              #3457b1
            );
          }
        }
        .secondary-info {
          margin: 12px 0 20px;
          padding: 20px 0;
          font-size: 15px;
          .title {
            padding-bottom: 12px;
          }
          .text {
            line-height: 23px;
            font-weight: 500;
            color: #5a5c60;
          }
        }
      }
    }
  }
}

/* ------------------------------- Responsive ------------------------------- */
@media (max-width: 1024px) {
  .product-detail {
    .container {
      padding: 0 36px;
      .row {
        .product-images {
          .mySwiper2 {
            .swiper-wrapper {
              .swiper-slide {
                height: 85vh;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .product-detail {
    .container {
      padding: 0;
      .row {
        flex-wrap: wrap;
        .product-images {
          width: 100%;
          padding: 0;
          .mySwiper2 {
            margin-bottom: 0;
            .swiper-wrapper {
              .swiper-slide {
                height: 70vh;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            .swiper-button-next,
            .swiper-button-prev {
              &::after {
                opacity: 1;
              }
            }
            .swiper-pagination {
              .swiper-pagination-bullet {
                opacity: 1;
              }
              .swiper-pagination-bullet-active {
                background-color: #5c5e62;
              }
            }
          }
          .mySwiper {
            display: none;
          }
        }
        .product-info {
          width: 100%;
          padding: 0 24px;
          margin: 24px 0 16px;
          .product-title {
            font-size: 24px;
          }
          .primary-info {
            max-width: 100%;
            .price {
              margin: 8px 0 32px;
            }
            .login-info {
              max-width: 600px;
            }

            .add-to-cart-btn {
              max-width: 320px;
            }
          }
          .secondary-info {
            max-width: 750px;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .product-detail {
    padding-top: 50px;
    .container {
      .row {
        .product-images {
          .mySwiper2 {
            .swiper-wrapper {
              .swiper-slide {
                height: 100%;
              }
            }
          }
        }
        .product-info {
          .primary-info {
            .login-info {
              max-width: 100%;
            }

            .btn {
              margin: 18px auto 0;
              min-width: auto;
              width: 100%;
            }
          }
          .secondary-info {
            max-width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .product-detail {
    .container {
      .row {
        .product-info {
          .product-title {
            font-size: 20px;
          }
          .primary-info {
            .price {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
