/* --------------------------- General Btn Design --------------------------- */
.btn {
  a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    color: #171a20;
  }
}

.white-black-btn {
  width: auto;
  margin-bottom: 32px;
  z-index: 1;
  &:hover {
    a {
      color: #fff;
      background-color: #171a20;
    }
  }
  a {
    border: 3px solid #171a20;
    padding: 8px 24px;
    transition: 0.33s ease;
  }
}
.static-btn {
  min-width: 283px;
  a {
    background-color: #fff;
    padding: 10px 24px;
  }
}
