/* --------------------------------- Footer --------------------------------- */
.footer {
  padding: 30px 0;
  .container {
    .row {
      width: 100%;
      display: flex;
      justify-content: center;
      .footer-list {
        display: flex;
        .footer-items {
          a {
            display: inline-block;
            padding: 8px 14px;
            font-size: 12px;
            color: #5c5e62;
          }
        }
      }
    }
  }
}

/* ------------------------------- Responsive ------------------------------- */
@media (max-width: 500px) {
  .footer {
    padding: 30px 0;
    .container {
      .row {
        width: 100%;
        display: flex;
        justify-content: center;
        .footer-list {
          display: flex;
          text-align: center;
          flex-direction: column;
          .footer-items {
            a {
              display: inline-block;
              padding: 8px 14px;
              font-size: 12px;
              color: #5c5e62;
            }
          }
        }
      }
    }
  }
}
