@import "../mixin";
/* --------------------------------- Header --------------------------------- */
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.6s ease;
  &.bg-white {
    background-color: #fff;
    .container {
      .row {
        .logo {
          svg {
            fill: #3c3c3c;
          }
        }
        .nav-bar {
          .nav-list {
            .nav-items {
              a {
                color: #3c3c3c;
              }
            }
          }
        }
        .user-area {
          .seacrh-form {
            .seacrh-icon {
              color: #000;
            }
          }
          .cart {
            position: relative;

            svg {
              color: #000;
            }
          }
          .menu-text {
            color: #535353;
          }
        }
      }
    }
  }
  /* ------------------------------- Reset Code ------------------------------- */
  li a {
    display: inline-block;
    font-size: 15px;
    color: #3c3c3c;
  }
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      /* ---------------------------------- Logo ---------------------------------- */
      .logo {
        padding: 0 5px;
        margin: 0 100px 0 16px;
        max-width: 112px;
        svg {
          fill: #fff;
          width: 100%;
          height: 100%;
        }
      }
      /* --------------------------------- NavBar --------------------------------- */
      .nav-bar {
        padding: 0 48px;
        .nav-list {
          display: flex;
          .nav-items {
            background-color: transparent;
            transition: 0.33s ease;
            border-radius: 4px;
            a {
              padding: 4px 8px;
              color: #fff;
            }
            &:hover {
              background-color: #f4f4f4;
            }
          }
        }
      }
      /* -------------------------------- UserArea -------------------------------- */
      .user-area {
        display: flex;
        align-items: center;
        .seacrh-form {
          display: flex;
          align-items: center;
          position: relative;
          margin: 7px 2px;
          .search-inp {
            border: 2px solid #ccc;
            border-radius: 4px;
            padding: 10px 22px 10px 10px;
            z-index: 100;
            transform-origin: right center;
            transform: scaleX(0);
            opacity: 0;
            transition: 0.33s ease;
            &.isOpenInp {
              transform: scaleX(1);
              transform-origin: right center;
              opacity: 1;
            }
            input {
              border: 0;
              outline: 0;
              margin-right: 5px;
              font-size: 13px;
              font-weight: 500;
              color: #000;
            }
          }
          .seacrh-icon {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 23px;
            padding: 2px;
            color: #fff;
          }
        }
        .cart {
          position: relative;
          cursor: pointer;
          .count {
            font-size: 12px;
            background-color: #3e6ae1;
            border-radius: 50%;
            color: #fff;
            line-height: 19px;
            text-align: center;
            position: absolute;
            right: -7px;
            top: -7px;
            height: 18px;
            width: 18px;
            margin: 0 auto;
          }
          svg {
            font-size: 23px;
            color: #fff;
          }
        }
        .menu-text {
          display: inline-block;
          font-size: 15px;
          margin: 0 8px;
          padding: 4px 8px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  /* --------------------------- Repeat design-------------------------- */
  .icon {
    font-size: 19px;
    line-height: 2px;
    padding: 3px;
    border-radius: 4px;
    transition: 0.3s ease;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .cart-box,
  .drop-menu {
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #757575;
    }
    &::-webkit-scrollbar-track-piece:end {
      margin-bottom: 15px;
    }

    &::-webkit-scrollbar-track-piece:start {
      margin-top: 15px;
    }
  }

  .cart-head-dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 24px;
    .navigate {
      display: flex;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
      .back-icon {
        line-height: 2px;
        font-size: 13px;
      }
    }
  }
  .country {
    font-size: 14px;
  }
  .language {
    font-size: 12px;
    color: #909090;
    display: inline-block;
    padding: 2px;
    position: relative;
    transition: 0.5s ease;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: 0.4s ease;
    }
    &:hover {
      color: #000;
      &::after {
        background-color: #000;
      }
    }
  }
  .btn-primary {
    .btn {
      @include btn(
        auto,
        #171a20,
        #fff,
        10px 24px,
        0 auto 24px,
        #171a20,
        #fff,
        #171a20,
        #171a20
      );
      width: 100%;
    }
  }
  /* ----------------------------- SideBar  Menu ---------------------------- */
  .menu-box {
    background-color: #fff;
    padding: 0 32px;
    max-width: 400px;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
    transition: 0.4s ease-in;
    &.isOpenMenu {
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
    }
    .cart-head {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 16px 0 24px;
    }
    .cart-body {
      .seacrh-form-mobile {
        margin-bottom: 10px;
        display: none;
        .form-group {
          background-color: #f4f4f4;
          width: 100%;
          display: flex;
          font-size: 15px;
          border: 2px solid #ccc;
          border-radius: 4px;
          padding: 7px 22px 7px 10px;
        }
        input {
          width: 100%;
          background-color: transparent;
          border: 0;
          outline: 0;
          font-size: 15px;
          color: #686a6e;
          padding-left: 10px;
        }
        .search-icon {
          font-size: 22px;
          color: #222222;
          line-height: 0px;
        }
      }
      .nav-list-mobile {
        display: none;
        .nav-items {
          margin-bottom: 8px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .text {
            display: inline-block;
            font-size: 15px;
            color: #3c3c3c;
          }
        }
      }
      .menu-general-info-list {
        .menu-items {
          margin-bottom: 8px;
          a {
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            transition: 0.5s ease;
            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
          }
        }
        .language-select {
          margin-top: 16px;
          .info {
            display: flex;
            align-items: center;
            padding: 8px 16px;
            cursor: pointer;
            border-radius: 6px;
            transition: 0.3s ease;
            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
            .left-side {
              font-size: 20px;
              padding-right: 6px;
            }
          }
        }
      }
    }
  }

  /* ----------------------------- Cart Box----------------------------- */
  .cart-box {
    .cart-body {
      .text {
        margin: 25px 5px 10px;
        font-size: 22px;
      }
      .cart-footer {
        padding: 30px 0 20px;
        .footer-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .left-side {
            width: 70%;
            .cart-footer-title {
              font-size: 22px;
            }
            .cart-footer-text {
              display: inline-block;
              font-size: 14px;
              font-weight: 500;
              color: #3c3c3c;
            }
          }
          .right-side {
            .cart-footer-price {
              font-size: 22px;
            }
          }
        }

        .btn-secondary {
          .btn {
            @include btn(
              auto,
              #fff,
              #3e6ae1,
              10px 24px,
              18px auto 0,
              #3457b1,
              #fff,
              #3e6ae1,
              #3457b1
            );
            width: 100%;
          }
        }
      }
    }
  }

  /* ------------------------------- Mobile Menu ------------------------------ */
  .drop-menu {
    margin-right: 4px;
    padding: 0 28px 0 32px;
    .cart-body {
      // Dropdown Mobile
      .current-page {
        font-size: 28px;
        margin-bottom: 28px;
      }
      .card {
        text-align: center;
        .top {
          width: 100%;
          height: 170px;
          border-radius: 6px;
          overflow: hidden;
          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.car-img {
              object-fit: contain;
              background-color: #eee;
            }
          }
        }
        .title {
          color: #171a20;
          font-size: 20px;
          padding: 8px 0;
          margin-bottom: 10px;
        }
      }

      //  Language
      .menu-general-info-list {
        .continent {
          margin: 25px 5px 10px;
          font-size: 22px;
        }
        .select-language {
          cursor: pointer;
          margin: 8px 12px;
          padding: 8px 12px;
          border-radius: 6px;
          transition: 0.3s ease;
          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    &.isOpen {
      visibility: visible;
      opacity: 1;
    }
    &.coloredBg {
      backdrop-filter: blur(4px);
      background-color: rgba(0, 0, 0, 0.304);
    }
  }
}

/* ------------------------------  Responsive ----------------------------- */
@media (max-width: 1200px) {
  .header {
    padding: 15px 0;
    .container {
      .row {
        .logo {
          margin-right: 0;
        }
        .nav-bar {
          display: none;
        }
        .user-area {
          .seacrh-form {
            display: none;
          }
        }
      }
    }
    .menu-box {
      .cart-body {
        .seacrh-form-mobile {
          display: block;
        }
        .nav-list-mobile {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .header {
    /* ----------------------------- Toggle  Menu ---------------------------- */
    .menu-box {
      padding: 0 20px;
    }
  }
}
@media (max-width: 320px) {
  .header {
    .container {
      padding: 0 5px;
      .row {
        .logo {
          margin-left: 5px;
        }
        .user-area {
          .menu-text {
            margin-left: 3px;
            padding: 4px;
          }
        }
      }
    }

    /* ----------------------------- Toggle  Menu ---------------------------- */
    .menu-box {
      width: 100%;
      padding: 0 10px;
    }
  }
}
